<!-- Card Start  -->
<form action="#" method="post">
    <div class="modal-header bg-info">
        <h3 class="modal-title">Kelas Detail</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body row">
        <div class="card-body">

            <div class="form-group">
                <label>code</label>
                <input type="text" name="nip" th:value="${data.code}" class="form-control" readonly="readonly" >
            </div>

            <div class="form-group">
                <label >Nama Gedung</label>
                <input th:type="text" name="name" class="form-control" th:value="${data.name}" readonly="readonly">
            </div>

            <div class="form-group">
                <label >Jumlah Lantai</label>
                <input th:type="text" name="jk" class="form-control" th:value="${data.jmlLantai}" readonly="readonly">
            </div>

        </div>
    </div>
</form>

<!-- Card End  -->
