<form action="#" method="post">
    <input type="hidden" name="id" th:value="${data.id}">
    <div class="modal-header bg-info">
        <h3 class="modal-title">Matakuliah Detail</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body row">
        <div class="card-body">

            <div class="form-group">
                <label>Code</label>
                <input id="code" type="text" name="code" th:value="${data.code}" class="form-control" readonly="readonly" >
            </div>

            <div class="form-group">
                <label >Nama Matakuliah</label>
                <input id="name" type="text" name="name"  class="form-control" th:value="${data.name}" readonly="readonly">
            </div>

            <div class="form-group">
                <label >SKS</label>
                <input id="sks" type="number" name="sks"  class="form-control" th:value="${data.sks}" readonly="readonly">
            </div>

        </div>
    </div>
</form>

