<!-- Card Start  -->
<form th:action="@{~/matakuliah/update}" method="post">
    <input type="hidden" name="id" th:value="${data.id}">
    <div class="card">
        <div class="card-header bg-warning">
            <h3 class="card-title">Edit Matakuliah</h3>
        </div>

        <div class="card-body">
                <div class="form-group">
                    <label>Code</label>
                    <input type="text" name="code" id="code" class="form-control" th:value="${data.code}">
                </div>

                <div class="form-group">
                    <label >Nama Matakuliah</label>
                    <input type="text" name="name" id="name" class="form-control" th:value="${data.name}">
                </div>

                <div class="form-group">
                    <label >SKS</label>
                    <input type="text" name="sks" id="sks" class="form-control" th:value="${data.sks}">
                </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </div>
</form>
<!-- Card End  -->
