<!-- Card Start  -->
<form th:action="@{~/ruang/update}" method="post" id="form-input" th:object="${ruang}">
    <div class="modal-header bg-warning">
        <h3 class="modal-title">Ruang Edit</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body row">
        <div class="col-md-12 col-lg-12">
            <!-- hidde id -->
            <input type="hidden" id="id" th:field="*{id}">

            <div class="form-group">
            <label for="code">Code</label>
                <input id="code" type="text" th:field="*{code}" th:class="${#fields.hasErrors('code')} ? 'form-control is-invalid': 'form-control'">
                <span th:if="${#fields.hasErrors('code')}" class="error invalid-feedback" th:errors="*{code}"></span>
            </div>

            <div class="form-group">
                <label for="name">Nama Ruang</label>
                <input id="name" type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid': 'form-control'">
                <span th:if="${#fields.hasErrors('name')}" class="error invalid-feedback" th:errors="*{name}"></span>
            </div>

            <div class="form-group">
                <label for="gedungId">Gedung</label>
                <select id="gedungId" th:field="*{gedungId}" th:class="${#fields.hasErrors('gedungId')} ? 'form-control is-invalid': 'form-control'">
                    <option value=""></option>
                    <option th:each="option: ${gedungList}" th:value="${option.id}" th:text="${option.name}" th:selected="${option.id == ruang.gedungId}"></option>
                </select>
                <span th:if="${#fields.hasErrors('gedungId')}" class="error invalid-feedback" th:errors="*{gedungId}"></span>
            </div>

            <div class="form-group">
                <label for="lantaiKe">LantaiKe</label>
                <input id="lantaiKe" type="text" th:field="*{lantaiKe}" th:class="${#fields.hasErrors('lantaiKe')} ? 'form-control is-invalid': 'form-control'">
                <span th:if="${#fields.hasErrors('lantaiKe')}" class="error invalid-feedback" th:errors="*{lantaiKe}"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-between">
        <button type="submit" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

</form>
<!-- Card End  -->
