<!-- Card Start  -->
<form action="#" method="post">
    <input type="hidden" name="id" th:value="${data.id}">
    <div class="modal-header bg-info">
        <h3 class="modal-title">Jurusan Detail</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body row">
        <div class="card-body">

            <div class="form-group">
                <label>Code</label>
                <input id="code" type="text" name="code" class="form-control" th:value="${data.code}" readonly="readonly" >
            </div>

            <div class="form-group">
                <label>Nama Jurusan</label>
                <input id="name" type="text" name="name" class="form-control" th:value="${data.name}" readonly="readonly" >
            </div>

            <div class="form-group">
                <label>Nama Fakultas</label>
                <input type="text" class="form-control" th:value="${data.fakultasName}" readonly="readonly" >
            </div>

        </div>
    </div>
</form>
<!-- Card End  -->
