<!-- card mulai -->
<form th:action="@{~/fakultas/update}" method="post" id="form-input" th:object="${fakultas}">

    <div class="modal-header bg-warning">
        <h3 class="modal-title">Fakultas Edit</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body row">
        <div class="col-md-12 col-lg-12">
            <!-- hidden id -->
            <input type="hidden" id="id" th:field="*{id}">

            <div class="form-group">
                <label for="code">Kode</label>
                <input id="code" type="text" th:field="*{code}" th:class="${#fields.hasErrors('code')} ? 'form-control is-invalid': 'form-control'">
                <span th:if="${#fields.hasErrors('code')}" class="error invalid-feedback" th:errors="*{code}"></span>
            </div>

            <div class="form-group">
                <label for="name">Nama</label>
                <input id="name" type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid': 'form-control'">
                <span th:if="${#fields.hasErrors('name')}" class="error invalid-feedback" th:errors="*{name}"></span>
            </div>

            <div class="form-group">
                <label for="alamat">Alamat</label>
                <textarea  id="alamat" th:field="*{alamat}" th:class="${#fields.hasErrors('alamat')} ? 'form-control is-invalid': 'form-control'"> </textarea>
                <span th:if="${#fields.hasErrors('alamat')}" class="error invalid-feedback" th:errors="*{alamat}"></span>
            </div>

        </div>
    </div>

        <div class="modal-footer justify-content-between">
            <button type="submit" class="btn btn-success">Update</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

</form>