<!-- Card Start  -->
<form th:action="@{~/mahasiswa/update}" method="post" id="form-input" th:object="${mahasiswa}">
    <div class="modal-header bg-warning">
        <h3 class="modal-title">Edit Mahasiswa</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body row">
        <input type="hidden" name="id" th:field="*{id}">

        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="nim">NIM Mahasiswa</label>
                <input type="text" name="nim" id="nim" class="form-control" th:value="${data.name}" >
            </div>

            <div class="form-group">
                <label for="name">Nama Mahasiswa</label>
                <input id="name" type="text" name="name" class="form-control" th:value="${data.name}" >
            </div>

            <div class="form-group">
                <label for="jk">Jenis Kelamin</label>
                <select class="form-control" name="jk" id="jk">
                    <option value=""></option>
                    <option th:value="Laki-laki" th:selected="${data.jk} == Laki-laki">Laki-laki</option>
                    <option th:value="Perempuan" th:selected="${data.jk} == Perempuan">Perempuan</option>
                </select>
            </div>

            <div class="form-group">
                <label for="alamat">Alamat</label>
                <input type="text" name="alamat" id="alamat" class="form-control" th:value="${data.alamat}" >
            </div>

            <div class="form-group">
                <label for="tmptLahir">Tempat Lahir</label>
                <input type="text" name="tmptLahir" id="tmptLahir" class="form-control" th:value="${data.tmptLahir}" >
            </div>

            <div class="form-group">
                <label for="tglLahir">Tanggal Lahir</label>
                <input type="date" name="tglLahir" id="tglLahir" class="form-control" th:value="${data.tglLahir}" >
            </div>

            <div class="form-group">
                <label for="agama">Agama</label>
                <select class="form-control" name="agama" id="agama">
                    <option value=""></option>
                    <option th:value="Islam" th:selected="${data.agama} == Islam">Islam</option>
                    <option th:value="Kristen" th:selected="${data.agama} == Kristen">Kristen</option>
                    <option th:value="Buddha" th:selected="${data.agama} == Buddha">Buddha</option>
                    <option th:value="Konghucu" th:selected="${data.agama} == Konghucu">Konghucu</option>
                </select>
            </div>

            <div class="form-group">
                <label for="jurusanId">Jurusan</label>
                <select class="form-control" name="jurusanId" id="jurusanId">
                        <option value=""></option>
                        <option th:each="data : ${jurusanList}" th:value="${data.id}" th:text="${data.name}" th:selected="${data.id} == ${mahasiswa.jurusanId}"></option>
                    </select>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-between">
        <button type="submit" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>  
        
</form>
<!-- Card End  -->
